body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    line-height: 1.3rem; background-color:whitesmoke;
    margin: 0;
}

#myHeader h1{
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
    font-family: Arial Narrow, sans-serif;
    font-size: 54px;
    line-height: 2.5rem;
}

#myHeader h6{
    text-align: center;
    font-family: Arial Narrow, sans-serif;
    font-size: 12px;
   
}

#myHeader small{
    text-align: center;
    font-family: Arial Narrow, sans-serif;
    margin-bottom: 25px;
}

#topbar {
    background-color: #723737;
    color: whitesmoke; 
    padding: 3px;
}

#header-icons ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#header-icons ul li{
    float: left;
    margin-left: 10px;
}

#header-icons ul li a{
    text-decoration: none;
    color:whitesmoke;
}

#header-icons ul li a:hover,
#header-icons ul li a:active {
    color: blueviolet;
}

#contact {
    text-align: right;
}

#contact span{
    padding: 0px 10px;
    border-left: solid 1px whitesmoke;
}

#contact span:first-child{
    border-left: none;
}


/* Add background color to the navigation bar */
#navbar {
    background-color: palevioletred;
    font-family: Arial Narrow, sans-serif;
  }
  
  /* Style the links inside the navigation bar */
  #navbar a {
      float: left;
      display: block;
      color:whitesmoke;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-weight: bold;
      font-size: 20px;
  }
  
  /* Change the color of links on hover */
  #navbar a:hover {
    background-color:whitesmoke;
    color: black;
  }
  
  /* Add a color to the active/current link */
  #navbar a.active {
    background-color:purple;
    color: white;
  }
  
 /* Style the search box inside the navigation bar */
#navbar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 6px;
    margin-right: 16px;
    font-size: 17px;
  }

  #login-btn {
    text-align: right;
    margin-top: 6px;
   
}


  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    #navbar a, .navbar input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    #navbar input[type=text] {
      border: 1px solid #ccc;
    }
  }

  #logoImage {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 60px;
}

  /*Any image*/
.card-img-top { 
    margin-top: 5px;
    background-color:white;
    width: 100%;
}
  
.card {
    font-family: Arial Narrow, sans-serif;
    background-color:white;
    margin-top: 5px;
    width: 20rem;
    border-width: 2px;
    border-color: darkgray; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0
}

#bcard {
    padding: 10px;
    margin-top:50px;
    margin-left: 50px;
    width: 20rem;
    height: 120px; 
    background-color:palevioletred;
}
  
